body {
  background-color: rgb(53, 229, 126);
  display: flex;
 
}
.container {
  margin: 50px auto;
 padding-top: 130px;
}
#numberInput {
  border-radius: 10px;
  padding: 10px;
}
#output {
  font-weight: bold;
  font-size: larger;
}
